@tailwind base;
@tailwind components;
@tailwind utilities;
#editorjs {
  border: 1px solid #ddd;
  min-height: 300px;
  padding: 10px;
}
#editorjs {
  overflow-y: scroll; /* Enables scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#editorjs::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;    /* Centers content vertically */
  flex-direction: column; /* Stack items vertically */
  height: 100vh;         /* Full viewport height */
}
.container {
  display: grid;
  place-items: center; /* Centers content both vertically and horizontally */
  height: 100vh;      /* Full viewport height */
}
.wrapper {
  margin: 20px; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
}
.bg-offwhite {
  background-color: #fafaf8; /* This is a light off-white color */
} 

@media (max-width: 640px) {
  h2 {
    font-size: 1.25rem; /* Smaller font for headers */
  }
  .article-header h2 {
    font-size: 1.5rem; /* Reduce header size on mobile */
  }
  .article-content p {
    font-size: 0.875rem; /* Smaller paragraph text for readability */
  }
  .article-container {
    padding: 1rem; /* Adjust padding on mobile for spacing */
  }
}